#sectionNewProject{

	form{
		.files{
			li{
				background-color: #E5E7EA;
				color: #525F72;
				font-size: 16px;
				padding: 5px 8px;
				margin-bottom: 3px;
				i{
					font-size: 20px;
				}
				button{
					background-color: @brand-danger;
					color: #fff;
					padding: 1px 7px;
  					border-radius: 0;
					i{
						font-size: 12px;
					}
				}
			}
		}
	}
}

#sectionViewProject{
	.owner{
		margin: 30px 0;
		img {
			width: 65px;
			height: 65px;
			border-radius: 100px;
			border: 2px solid @brand-primary;
			padding: 2px;
			margin-right: 10px;
		}
		.count-date{
			padding-top: 10px;
		}
		.name{
			  font-size: 24px;
		}
	}
	
	.project-item{
		margin-top: 0;
		.title{
			margin-bottom: 10px;
		}
	}
	
	.project-description{
		margin: 20px 0;
	}
	
	.comments{
		max-height: 350px;
  		overflow: auto;
		.comment {
			img{
				width: 35px;
				border: 1px solid @brand-primary;
				border-radius: 100px;
				padding: 1px;
				margin-right: 10px;
			}
			.name{
				font-size: 20px;
			}
			.text{
				font-size: 12px;
				margin: 10px 0;
			}
		}
		
		.show-more{
			margin: 20px;
		}
	}
	#textComment{
		margin: 20px 0;
	}	
}